.cart-container {
    width: 98%;
    max-width: 600px;
    margin: 50px auto;
    border: 1px solid black;
    border-collapse: collapse;
    background-color: white;
}

.item-container input {
    width: 30px;
    padding: 5px;
}

td {
    padding: 10px;
    border: 1px solid black;
    text-align: start;
}

tbody>td {
    font-weight: bolder;
    background-color: rgb(201, 201, 206);
}

.total-amount {
    background-color: rgb(201, 201, 206);
}